
<div class="row g-2">
<div class="input-group col-md-6">
  <input  [formControl]="firstNb" type="number" class="form-control" placeholder="Recipient's username">
  <button class="btn btn-primary" (click)="changeFirstStream()" type="button">next</button>
  <button class="btn btn-danger" (click)="endFirstStream()" type="button">end stream</button>
</div>

<div class="input-group col-md-6">
  <input [formControl]="secondNb" type="number" class="form-control" placeholder="Recipient's username">
  <button class="btn btn-primary" (click)="changeSecondStream()" type="button">next</button>
  <button class="btn btn-danger" (click)="endSecondStream()" type="button">end stream</button>
</div>
</div>

<br />
<div class="card text-left">
  <div class="card-header">
    <p>Merge : {{ mergeValue$ | async }}</p>
    <p>Scan : {{ scanValue$ | async }}</p>
    <div>Reduce : {{ reduceValue$ | async }}<div [hidden]="firstfinished&&secondfinished" class="spinner-border spinner-border-sm" style="margin-left: 7px;" role="status"></div></div>
  </div>
</div>