<div class="container" (mouseleave)="onLeave()">
    <input  [formControl]="name" type="text" class="form-control" (blur)="onBlur()" (focus)="onFocus()" />
    <div *ngIf="(!isOut||isInputSelected) && (searchedPersons$ | async) as searchResults "  class="dropdownn">
        <a class="list-group-item list-group-item-action list-group-item-warning"
        *ngFor="let result of searchResults" (click)="selectResult(result)"
        [routerLink]="['detail',result.id]"
         >
          {{ result.name}} {{result.firstname}}
        </a>
      </div>
     

