<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
<!--<a class="navbar-brand" [routerLink]="['']">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>-->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" aria-current="page" [routerLink]="['cv']" [routerLinkActive]="'active'"  [routerLinkActiveOptions]="{exact:true}">cv</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" aria-current="page" [routerLink]="['cv','masterDetail']" [routerLinkActive]="'active'" >masterDetail</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['miniword']"  [routerLinkActive]="'active'">miniword</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['merge']"  [routerLinkActive]="'active'">merge</a>
          </li>
          <li class="nav-item "> 
            <a class="nav-link" [routerLink]="['test']"  routerLinkActive='active'>test</a>
          </li>
          </ul>
          <div class="d-flex navbar-expand-sm" style="margin-left: auto;" role="search">
            <button *ngIf="!(user$|async)" class="btn btn-outline-success"[routerLink]="['login']">login</button>
            <button *ngIf="user$ | async as user"  class="btn btn-outline-danger" (click)="logout()" >logout {{user.email}} </button>
          </div>
      </div>
    </div>
  </nav>
