<div class="card">
    <div class="row align-items-start">
        <div  class="col input">
          <input type="color" class="form-control" [(ngModel)]="color">
        </div>
        <div class="col input">
          <input type="number" class="form-control" [(ngModel)]="size">
        </div>
        <div class="col input">
          <select class="form-select" [(ngModel)]="font" > 
            <option *ngFor="let font of fonts" >{{font}}</option>
          </select>
        </div>
      </div>      
     <div class="row">
      <h1 [ngStyle]="{'color': color, 'font-size': size+'px' ,'font-family':font }">  Text</h1></div>
</div>